// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #000;
$background-color:  #fff;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  favorite:   #69BB7B
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionicons";

//ibiart custom icon font
@font-face {
  font-family: "ibiartfont";
  src:url("#{$ionicons-font-path}/ibiartfont.eot?v=#{$ionicons-version}");
  src:url("#{$ionicons-font-path}/ibiartfont.eot?v=#{$ionicons-version}#iefix") format("embedded-opentype"),
  url("#{$ionicons-font-path}/ibiartfont.woff?v=#{$ionicons-version}") format("woff"),
  url("#{$ionicons-font-path}/ibiartfont.ttf?v=#{$ionicons-version}") format("truetype"),
  url("#{$ionicons-font-path}/ibiartfont.svg?v=#{$ionicons-version}#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

.ion {
  font-family: "Ionicons","ibiartfont";
}

.ion-ios-icn_help:before,
.ion-ios-icn_info:before,
.ion-ios-icn_kaoqin:before,
.ion-ios-icn_login:before,
.ion-ios-icn_logout:before,
.ion-ios-icn_xuncha:before,
.ion-ios-toolBar_icon_1:before,
.ion-ios-toolBar_icon_2:before,
.ion-ios-toolBar_icon_3:before,
.ion-ios-toolBar_icon_4:before,
.ion-ios-toolBar_icon_5:before,
.ion-md-icn_help:before,
.ion-md-icn_info:before,
.ion-md-icn_kaoqin:before,
.ion-md-icn_login:before,
.ion-md-icn_logout:before,
.ion-md-icn_xuncha:before,
.ion-md-toolBar_icon_1:before,
.ion-md-toolBar_icon_2:before,
.ion-md-toolBar_icon_3:before,
.ion-md-toolBar_icon_4:before,
.ion-md-toolBar_icon_5:before
{
  @extend .ion;
}


.ion-ios-icn_help:before,
.ion-md-icn_help:before {
  content: "\e900";
}
.ion-ios-icn_info:before,
.ion-md-icn_info:before {
  content: "\e901";
}

.ion-ios-icn_kaoqin:before,
.ion-md-icn_kaoqin:before {
  content: "\e902";
}
.ion-ios-icn_login:before,
.ion-md-icn_login:before {
  content: "\e903";
}
.ion-ios-icn_logout:before,
.ion-md-icn_logout:before {
  content: "\e904";
}

.ion-ios-icn_xuncha:before,
.ion-md-icn_xuncha:before {
  content: "\e905";
}
.ion-ios-toolBar_icon_1:before,
.ion-md-toolBar_icon_1:before {
  content: "\e906";
}
.ion-ios-toolBar_icon_2:before,
.ion-md-toolBar_icon_2:before {
  content: "\e907";
}
.ion-ios-toolBar_icon_3:before,
.ion-md-toolBar_icon_3:before {
  content: "\e908";
}
.ion-ios-toolBar_icon_4:before,
.ion-md-toolBar_icon_4:before {
  content: "\e909";
}
.ion-ios-toolBar_icon_5:before,
.ion-md-toolBar_icon_5:before {
  content: "\e90a";
}